
#   Port and host for each server
#   Server names (optional)
#   Default server for each host:port combination

#   Setup default error pages

#   Specify the maximum allowed client body size

#   List of accepted HTTP methods for each route
#   HTTP redirections
#   Root directory or file path for each route
#   Directory listing option (on/off)
#   Default file for directory requests
#   CGI execution settings based on file extensions
#   POST and GET method handling
#   File upload settings and save locations

#   Full path as PATH_INFO
#   Handling of chunked requests
#   Content-Length handling for CGI output
#   CGI execution directory


# CGI Configuration TO BE CHANGED
# Must be the complete path (and not relative)
cgi {
    bla {        
        cgi_compiler /home/gkubina/Webserv/webserv/testers/ubuntu_cgi_tester;
        cgi_extension bla;
        cgi_timeout 5;
    }

    py {
        cgi_compiler usr/bin/py-cgi;
        cgi_extension .py;
        cgi_timeout 30;
    }
}

# Server Configuration
server {
host 127.0.0.2;
    port 8090;
    server_name localhost;
    is_default_server true;


    # Error Pages
    error_page /home/gkubina/Webserv/webserv/html_page/template/error/error.html;
    directory_page /home/gkubina/Webserv/webserv/html_page/template/directory_listing/directory.html;
    # Client Body Size Limit
    client_max_body_size 10M;

    # Routes
    location / {
        root /home/gkubina/Webserv/webserv/html_page/www/html;
        index index.html;
        allowed_methods GET POST DELETE;
        use_cgi yes;
        autoindex yes;
    }

    location /uploads {
        root /home/gkubina/Webserv/webserv/html_page/www/uploads;
       # upload_store /home/gkubina/Webserv/webserv/html_page/www/html;
        allowed_methods POST GET;
        directory_listing yes;
        autoindex on;
    }

    location /cgi-bin {
        root cgi-bin;
        use_cgi yes;
        allowed_methods GET POST DELETE;
    }

    # Redirections TO BE CHANGED
    location /old-page {
        redirection 301 /new-page;
    }
}
