
#   Port and host for each server
#   Server names (optional)
#   Default server for each host:port combination

#   Setup default error pages

#   Specify the maximum allowed client body size

#   List of accepted HTTP methods for each route
#   HTTP redirections
#   Root directory or file path for each route
#   Directory listing option (on/off)
#   Default file for directory requests
#   CGI execution settings based on file extensions
#   POST and GET method handling
#   File upload settings and save locations

#   Full path as PATH_INFO
#   Handling of chunked requests
#   Content-Length handling for CGI output
#   CGI execution directory


# CGI Configuration TO BE CHANGED
# Must be the complete path (and not relative)
cgi {

    py {
        cgi_compiler /usr/bin/python3;
        cgi_extension py;
        cgi_timeout 5;
    }

    sh {
        cgi_compiler /usr/bin/bash;
        cgi_extension sh;
        cgi_timeout 5;
    }
}


# Server Configuration
server {
    host 127.0.0.1;
    port 8089;
    server_name localhost;

    


    # Error Pages
    error_page /home/gkubina/Webserv_main/webserv/html_page/template/error/error.html;
    directory_page /home/gkubina/Webserv_main/webserv/html_page/template/directory_listing/directory.html;
    # Client Body Size Limit
    client_max_body_size 10K;

    # Routes

    location / {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html;
        index index.html;
        allowed_methods GET;                
    }

#    location / {
#        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
#        index youpi.bad_extension;
#        allowed_methods GET;        
#        use_cgi yes;        
#    }

    location /YoupiBanane {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
        allowed_methods GET POST DELETE;
        index index.html;        
        use_cgi yes;
        autoindex on;
    }

    location /post_body {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
        allowed_methods POST;        
        use_cgi yes;        
    }

    location /directory {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
        allowed_methods GET;        
        index youpi.bad_extension;
        
    }

    location /test {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html;
        allowed_methods GET POST DELETE;
        index index.html;
    }

    location /images {

        root /home/gkubina/Webserv_main/webserv/html_page/template/error/images;
        index index.html;
        allowed_methods GET;        
    }


    location /success {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/success;        
        allowed_methods GET;
        index index.html;
    }


    location /cgi-bin {
        root /home/gkubina/Webserv_main/webserv/cgi-bin;
        use_cgi yes;        
        allowed_methods GET POST;
    }

    location /uploads {
        root /home/gkubina/Webserv_main/webserv/html_page/www/uploads;
        allowed_methods POST GET DELETE;
        directory_listing yes;
        autoindex on;
    }

  
    # Redirections TO BE CHANGED
    location /old-page {
        return 301 /success;
        allowed_methods GET;
    }
}



server {
    host 10.11.6.9;
    port 8091;
    server_name c1r6p9.42lehavre.fr;

    


    # Error Pages
    error_page /home/gkubina/Webserv_main/webserv/html_page/template/error/error.html;
    directory_page /home/gkubina/Webserv_main/webserv/html_page/template/directory_listing/directory.html;
    # Client Body Size Limit
    client_max_body_size 10M;

    # Routes

    location / {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html;
        index index.html;
        allowed_methods GET;                
    }

#    location / {
#        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
#        index youpi.bad_extension;
#        allowed_methods GET;        
#        use_cgi yes;        
#    }

    location /YoupiBanane {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
        allowed_methods GET POST DELETE;
        index index.html;        
        use_cgi yes;
        autoindex on;
    }

    location /post_body {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
        allowed_methods POST;        
        use_cgi yes;        
    }

    location /directory {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/YoupiBanane;
        allowed_methods GET;        
        index youpi.bad_extension;
        
    }

    location /test {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html;
        allowed_methods GET POST DELETE;
        index index.html;
    }

    location /images {

        root /home/gkubina/Webserv_main/webserv/html_page/template/error/images;
        index index.html;
        allowed_methods GET;        
    }


    location /success {
        root /home/gkubina/Webserv_main/webserv/html_page/www/html/success;        
        allowed_methods GET;
        index index.html;
    }


    location /cgi-bin {
        root /home/gkubina/Webserv_main/webserv/cgi-bin;
        use_cgi yes;        
        allowed_methods GET POST;
    }

    location /uploads {
        root /home/gkubina/Webserv_main/webserv/html_page/www/uploads;
        allowed_methods POST GET DELETE;
        directory_listing yes;
        autoindex on;
    }

  
    # Redirections TO BE CHANGED
    location /old-page {
        return 301 /success;
        allowed_methods GET;
    }
}