
cgi {
    php {
        cgi_compiler /usr/bin/php-cgi;
        cgi_extension .php;
        cgi_timeout 30;
    }

    py {
        cgi_compiler /usr/bin/py-cgi;
        cgi_extension .py;
        cgi_timeout 30;
    }
}

# Server Configuration
server {
    host 127.0.0.1;
    port 8080;
    server_name web_serv42.com;

    # Error Pages
    error_page /html_page/error_page;

    # Client Body Size Limit
    client_max_body_size 10M;

    # Routes
    location / {
        root /html_page/www/html;
        index index.html;
        allowed_methods GET POST DELETE;
    }

    location /uploads {
        root /html_page/www/uploads;
        upload_store /html_page/www/uploads;
        allowed_methods POST;
    }

    location /cgi-bin {
        root cgi-bin;
        use_cgi yes;
        autoindex ON;
        allowed_methods GET POST DELETE;
    }

    # Redirections TO BE CHANGED
    location /old-page {
        return 301 /new-page;
    }
}
